.OVERLAY_STYLES {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  transform: translate(1%, 15%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}
.hero-container > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.hero-container {
  /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.Headings {
  display: inline-block;
}
.Headings > h1 {
  display: inline-block;
  color: #fff;
  font-size: 60px;
  margin-top: -100px;
}

.Headings > h2 {
  display: inline-block;
  color: #fff;
  font-size: 40px;
  margin-top: -100px;
  margin-left: 8px;
}

.Headings > h2 span {
  color: #ff9f0e;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.hero-btns {
  margin-top: 32px;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
  color: black;
}
.fa-play-circle:hover {
  transition: all 0.3s ease-out;
  background: black;
  color: #fff;
  transition: 250ms;
}
@media screen and (max-width: 960px) {
  .Headings > h1 {
    font-size: 30px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 960px) {
  .hero-container > p {
    font-size: 18px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 768px) {
  .Headings > h2 {
    font-size: 20px;
    margin-top: -100px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
modal__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.19);
  backdrop-filter: blur(6px);
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  z-index: 1000;
}

.modal__align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.modal__content {
  width: 800px;
  height: 500px;
  box-shadow: 0px 100px 80px rgba(184, 184, 184, 0.07),
    0px 25.8162px 19px 4px rgba(178, 178, 178, 0.0456112),
    0px 7.779px 7.30492px rgba(0, 0, 0, 0.035),
    0px 1.48838px 2.0843px rgba(0, 0, 0, 0.0243888);
  border-radius: 20px;
  background: transparent;
  color: #000;
  margin: 0rem 4rem;
  align-items: center;
}

.modal__close {
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  bottom: 50px;
  width: 32px;
  height: 32px;
  padding: 0;
  transform: translate(1260%, 15%);
}

.modal__video-align {
  display: flex;
  position: relative;
  bottom: 37px;
}

.modal__video-style {
  border-radius: 20px;
  z-index: 1000;
}

.modal__spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__spinner {
  animation: spin 2s linear infinite;
  font-size: 40px;
  color: #1b6aae;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .modal__content {
    margin: 0rem 1rem;
    width: 100%;
  }
  .modal__video-style {
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .modal__content {
    background: transparent;
    height: auto;
  }
  .modal__video-align {
    bottom: 0px;
  }
  .modal__video-style {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  .modal__close {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    bottom: 50px;
    width: 28px;
    height: 28px;
    padding: 0;
    transform: translate(800%, 15%);
  }
}

@media screen and (max-width: 768px) {
  .OVERLAY_STYLES {
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    transform: translate(1%, 15%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  }
}
