* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  overscroll-behavior: none;
}
html {
  scroll-behavior: smooth;
}

.home,
.about,
.pricing,
.contact-us,
.design,
.study,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  background-image: url("https://res.cloudinary.com/wprodigy/image/upload/v1649435987/Assets/img-5_qvj6p8.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-size: 100px;
}

.design {
  background-image: url("https://res.cloudinary.com/wprodigy/image/upload/v1649435774/Assets/img-3_emjbkf.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.pricing {
  background-image: url("https://res.cloudinary.com/wprodigy/image/upload/v1649435774/Assets/img-4_ovjn3x.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.study {
  background-image: url("https://res.cloudinary.com/wprodigy/image/upload/v1649435774/Assets/img-1_smuxah.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 90px;
}
